@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

/*wildcard selector to override browser defaults and box-sizing to include border
in element sizing*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
    color: #361e06;
    background-image: url("../images/pinewood.webp");

}

/*Head Section*/
header {
    height: 7rem;
    background-image: url("../images/pinewood.webp");
    border-bottom: #361e06;
    border-bottom-style: double;
    border-width: 3px;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #361e06;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 0.5rem;
    width: 6rem;
    height: 4rem;
    border-color: #eead08;
    border-style: groove;
    border-width: 2px;
    box-shadow: 1px 1px 2px black;
}

.violin-left {
    width: 4.5rem;
    height: 4.5rem;
}

.violin-right {
    width: 4.5rem;
    height: 4.5rem;
}

/*Nav Bar*/
.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar p {
    color: #eead08;
    font-family: 'merriweather', serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #361e06;
    transition: 0.2s;
}

.navbar p:hover {
    font-size: 1.6rem;
    opacity: 0.6;
    text-decoration: underline;
}

.contact-link {
    display: inline-block;
    color: #361e06;
    transition: 0.2s;
    margin-left: 1rem;
}

.navbar a {
    text-decoration: none;
}

/*Main Section*/
main {
    flex: 1 0 auto;
    padding-top: 7.5rem;
    background: url('../images/pinewood.webp');
}

/*Hero Section*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(../images/view-bar-counter.webp) no-repeat center center/cover;
    padding-bottom: 64px;
    /*Parallax Effect*/
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    font-size: 1.4rem;
    background-color: rgba(234, 236, 208, 0.3);
    position: absolute;
    width: 80%;
    height: 60%;
    border-radius: 10%;
}

.text-container .p1,
.text-container .p2 {
    color: #361e06;
    font-size: 1.8rem;
    padding-left: 5px;
}

.gold-text {
    color: #eead08;
    font-family: 'merriweather', serif;
    text-shadow: 2px 2px 3px #361e06;
}

.spacer {
    height: 0.5rem;
}

/*Music dates Table styles*/
#music {
    background: url('../images/musicians-portrait.webp')no-repeat center center /cover;
    padding-bottom: 64px;
    /*Parallax Effect taken from w3schools*/
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

}

.table-music {
    margin-top: 2rem;
    font-family: Helvetica, sans-serif;
    color: antiquewhite;

}

.month {
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-right: 6rem;
    color: darkgray;
}

.highlight {
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #EEB22F;
}

.music-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #EEB22F;

}

.music-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-music {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-clip {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

/*Menu Styles*/
#the-grill {
    background-image: url("../images/flame-portrait.webp");
    padding-bottom: 64px;
    /*Parallax Effect taken from w3schools*/
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grill-heading {
    background-image: url("../images/pinewood.webp");
    align-items: center;
    text-align: center;
    width: 16rem;
    height: 12rem;
    border: 4px solid #eead08;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    line-height: 2.5rem;
    font-family: 'merriweather', serif;
    font-size: 1.8rem;
    color: #361e06;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front-page-menu {
    text-align: center;
    background-image: url("../images/pinewood.webp");
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 8rem;
    width: 16rem;
    line-height: 1.2rem;
    font-family: 'Noto Serif', serif;
    font-size: 0.8rem;
    color: #361e06;
    border: 4px solid #eead08;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.burger {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 4px solid #eead08;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    margin-left: 1rem;
}

img {
    display: inline-block;
}

.red-text {
    color: #e61313;
    font-family: 'merriweather', serif;
    text-shadow: 1px 1px 2px #361e06;
}

/*Contact Us Section*/
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38rem;
    width: 100%;
    background: url(../images/pub-scene-dark.webp) no-repeat center center/cover;
    padding-bottom: 64px;
}

.text-container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
    font-size: 1.4rem;
    background-color: rgba(234, 236, 208, 0.3);
    position: absolute;
    width: 20rem;
    height: 30rem;
    border-radius: 10%;
}

.form {
    text-align: center;
    color: antiquewhite;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #030303;
    margin: 0.5rem;
}

.no-bullet {
    list-style-type: none;
}

input {
    height: 2rem;
    margin-top: 10px;
}

#msgbox {
    display: block;
    color: antiquewhite;
    margin-top: 1rem;
    margin-left: 0.25rem;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #030303;
}

input.larger {
    height: 25px;
    width: 25px;
}

ul {
    margin-left: 22%;
}

button[type=submit] {
    font-family: 'merriweather', serif;
    background-color: #EEB22F;
    color: antiquewhite;
    width: 8rem;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 25%;
    cursor: pointer;
    transition: 0.4s;
}

button[type=submit]:hover {
    background-color: antiquewhite;
    color: #EEB22F;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Serif', serif;
    font-size: 0.8rem;
    height: 8rem;
    width: 100%;
    background-color: antiquewhite;
}

.address {
    text-align: center;
}

.map {
    border: 2px 2px solid #361e06;
}

/*Footer Section*/
footer {
    background-image: url(../images/pinewood.webp);
    height: 4rem;
    width: 100%;
    z-index: 99;
    border-top: #361e06;
    border-top-style: double;
    border-width: 3px;
    box-shadow: 0 -2px 2px #361e06;
}

.social-media {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.social-media i {
    padding-top: 1rem;
    font-size: 2rem;
    color: #423004;
}


/*Sizing for very small screens*/
@media screen and (min-width: 280px) {
    body {
        padding: 0;
    }

    .logo {
        margin-top: 0.3rem;
        width: 5rem;
        height: 3.5rem;
    }

    .navbar p {
        font-size: 1.2rem;
    }

    .h1-font {
        font-size: 1.6rem;
    }

    .text-container .p1,
    .text-container .p2 {
        font-size: 1.4rem;
    }

    .month,
    .highlight {
        font-size: 1.2rem;
    }

    .table-wrap {
        width: 90%;
        margin: 0 auto;
    }
}

/*sizing for tablets & laptops*/
@media screen and (min-width: 768px) {
    #music {
        background: url('../images/musicians-landscape.webp')no-repeat center center /cover;
        padding-bottom: 64px;
        /*Parallax Effect taken from w3schools*/
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-container {
        width: 80%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .h1-font {
        font-size: 4rem;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        justify-content: space-around;
        align-items: center;
    }

    .burger {
        margin-top: 1rem;
    }

    .text-container-contact {
        padding-top: 20px;
        margin-top: 2rem;
        width: 40rem;
        height: 30rem;
    }
}

/*Sizing for Desktops*/

@media screen and (min-width:1080px) {
    #music {
        background: url('../images/musicians-portrait.webp')no-repeat center center /cover;
        padding-bottom: 64px;
        /*Parallax Effect taken from w3schools*/
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .front-page-menu {
        height: 10rem;
        width: 24rem;
        font-size: 1rem;
        line-height: 1.4;
    }

    header {
        height: 20%;
    }

    .navbar p {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .navbar p:hover {
        font-size: 3rem;
        opacity: 0.6;
        text-decoration: underline;
    }

    .logo {
        margin-top: 0.5rem;
        width: 8rem;
        height: 6rem;
    }

    .h1smaller {
        font-size: 2.5rem;
    }

    .text-container {
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
    }

    .text-container .p1,
    .text-container .p2 {
        font-size: 2.5rem;
    }

    .contact-form {
        background: url(../images/pub-scene-dark.jpg) no-repeat center center/cover;
    }

    .text-container-contact {
        padding-top: 20px;
        margin-top: 4rem;
        width: 60rem;
        height: 30rem;
    }
}