@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif:wght@600&display=swap');

/*wildcard selector to override browser defaults and box-sizing to include border
in element sizing*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
    color: #361e06;
    background-image: url("../images/pinewood.jpg");

}

/*Head Section*/
header {
    height: 20vh;
    background-image: url("../images/pinewood.jpg");
    border-bottom: #361e06;
    border-bottom-style: double;
    border-width: 3px;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #361e06;
}

.header {
    display: flex;
    justify-content: center;

}

.logo {
    margin-top: 0.5rem;
    width: 6rem;
    height: 4rem;
    border-color: #eead08;
    border-style: groove;
    border-width: 2px;
    box-shadow: 1px 1px 2px black;

}

.violin {
    width: 6rem;
    height: 6rem;
}

/*Nav Bar*/
.navbar {
    display: flex;
    justify-content: space-around;

}

.navbar p {
    color: #eead08;
    font-family: 'merriweather', serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #361e06;
    transition: 0.2s;

}

.navbar p:hover {
    font-size: 2rem;
    opacity: 0.6;
    text-decoration: underline;
}


.navbar a {
    text-decoration: none;
}


/*Main Section*/
main {
    flex: 1 0 auto;
    padding-top: 20vh;
    background: url('../images/pinewood.jpg');
}

/*Hero Section*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38rem;
    width: 100%;
    background: url(../images/view-bar-counter.jpg) no-repeat center center/cover;
    padding-bottom: 64px;
    /*Parallax Effect*/
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    font-size: 1.4rem;
    background-color: rgba(234, 236, 208, 0.3);
    position: absolute;
    width: 80%;
    height: 50%;
    border-radius: 10%;


}

.text-container .p1,
.text-container .p2 {
    color: #361e06;
    font-size: 1.8rem;
    padding-left: 5px;
}

.red-text {
    color: #e61313;
    font-family: 'merriweather', serif;
    text-shadow: 1px 1px 2px #361e06;
}

.red-text-left {
    color: #e61313;
    font-family: 'merriweather', serif;
    text-align: left;
    text-shadow: 1px 1px 2px #361e06;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.gold-text {
    color: #eead08;
    font-family: 'merriweather', serif;
    text-shadow: 2px 2px 3px #361e06;
}

.spacer {
    height: 0.5rem;
}

/*Music dates Table styles*/
#music {
    background: url('../images/musicians-portrait.jpg')no-repeat center center /cover;
    padding-bottom: 64px;
    /*Parallax Effect*/
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-wrap {
    width: 60%;
    margin: 0 auto;
}

.table-music {
    margin-top: 2rem;
    font-family: Helvetica, sans-serif;
    color: antiquewhite;

}

.month {
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-right: 6rem;
    color: darkgray;
}

.highlight {
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #EEB22F;
}

.music-text {
    display: flex;
    justify-content: center;
}

/*Menu Styles*/
#the-grill {
    background-image: url("../images/flame-portrait.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.front-page-menu {
    text-align: center;
    background-image: url("../images/pinewood.jpg");
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    height: 6rem;
    width: 14rem;
    line-height: 1.2rem;
}

.front-page-menu p span {
    white-space: nowrap;
    font-family: 'Noto Serif', serif;
    font-size: 0.85rem;
    color: #361e06;

}

#image-1 {
    background: url("../images/beef-burger.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 8rem;

}

#image-2 {
    background: url("../images/chicken-burger.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 8rem;
}

#image-3 {
    background: url("../images/lentils-pistashios-burger.jpg");
    background-repeat: no-repeat;
    background-size: 12rem;
    height: 8rem;
}




/*Footer  --credit to Gerben Van Dijk @ stackoverflow
for suggesting method of fixing the footer*/
footer {
    background-image: url(../images/pinewood.jpg);
    height: 4rem;
    width: 100%;
    background: center center no-repeat /cover;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    z-index: 99;
    border-top: #361e06;
    border-top-style: double;
    border-width: 3px;
    box-shadow: 0 -2px 2px #361e06;
}

.social-media {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.social-media i {
    padding-top: 1rem;
    font-size: 2rem;
    color: #423004;
}

.contact-link {
    display: inline-block;
    border: 2px solid #361e06;
    border-radius: 10%;
    margin-top: 1rem;
    padding: 4px 8px;
    color: #361e06;
    background-color: #EEB22F;
    transition: 0.2s;
}

.contact-link:hover {
    background-color: antiquewhite;
    color: #EEB22F;
}

/*Sizing for very small screens*/
@media screen and (max-width: 375px) {
    body {
        padding: 0;
    }

    .logo {
        margin-top: 0.3rem;
        width: 5rem;
        height: 3.5rem;
    }

    .navbar p {
        font-size: 1.4rem;
    }

    .h1smaller {
        font-size: 1.4rem;
    }

    .text-container .p1,
    .text-container .p2 {
        font-size: 1.4rem;
    }

    .month,
    .highlight {
        font-size: 1.2rem;
    }

    .table-wrap {
        width: 90%;
        margin: 0 auto;
    }
}

/*sizing to ease transition from tablets to larger screens*/
@media screen and (max-width: 450px) {
    .text-container {
        width: 90%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*Sizing for large screens*/
@media screen and (min-width:920px) {

    .navbar p {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .navbar p:hover {
        font-size: 3rem;
        opacity: 0.6;
        text-decoration: underline;
    }

    .logo {
        margin-top: 0.5rem;
        width: 8rem;
        height: 6rem;
    }

    .text-container {
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
    }

    .text-container .p1,
    .text-container .p2 {
        font-size: 2.5rem;

    }

}